@use "sass:color";

// Variables
$primary-color: #a927dd;
$secondary-color: #e22fb5;
$font-stack: 'Arial', sans-serif;
$border-radius: 5px;

$edge-padding: 20px;
$list-gap: 12px;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg-color) {
  background-color: $bg-color;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: color.adjust($bg-color, $lightness: -25%, $space: hsl);
  }
}

// Styles
body {
  font-family: $font-stack;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: $edge-padding;
}

// Buttons
.button {
  @include button-style($primary-color);
}

.button-secondary {
  @include button-style($secondary-color);
}

// Forms
input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  outline: none;
  transition: border 0.3s;
  margin-bottom: 16px;

  &:focus {
    border-color: $primary-color;
  }
}

// Grid
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.col {
  flex: 1;
  padding: 10px;
}

// Контейнер для выравнивания по центру с отступами от краев экрана
.centered-container {
  width: 90%; // Ширина контейнера, можно настроить по вашему усмотрению
  max-width: 1200px; // Максимальная ширина
  // height: 100vh; // Высота на весь экран
  margin: 0 auto; // Горизонтальное выравнивание по центру
  padding: 20px; // Отступы от краев экрана
  display: flex;
  justify-content: center; // Центрирование по горизонтали
  // align-items: center; // Центрирование по вертикали
  box-sizing: border-box; // Чтобы отступы не влияли на ширину
}



select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  font-family: $font-stack;
  background-color: #fff;
  color: #333;
  transition: border 0.3s, background-color 0.3s;
  margin-bottom: 16px;

  &:focus {
    border-color: $primary-color;
    background-color: #f9f9f9;
  }

  option {
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    font-size: 1rem;

    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: $edge-padding;

  li {
    padding: 12px 15px;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: $secondary-color;
      color: #fff;
      transform: scale(1.05);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}