@use "sass:color";
@use "./base/variables" as *;
@use "./base/mixins" as *;

// Modal styles
.modal-window {
  @include modal-window;

  .modal-content {
    @include modal-content;
    
    h2 {
      font-size: 1.5rem;
      color: $primary-color;
      margin-bottom: 20px;
    }

    input {
      width: 95%;
    }

    label {
      display: block;
      font-size: 1rem;
      color: $text-color;
      margin-bottom: 5px;
    }

    .modal-window input,
    .modal-window select,
    .modal-window #questionPosition {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: $border-radius;
      outline: none;
      font-family: $font-stack;
      font-size: 1rem;
      transition: border 0.3s;

      &:focus {
        @include input-focus;
      }

      &:not([type="radio"]) {
        width: 100%;
      }
    }

    .modal-window .radio-option input[type="radio"] {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }

    .radio-option {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 15px;

      div {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      label {
        font-size: 1rem;
        color: $text-color;
      }

      input[type="radio"] {
        margin: 0;
        accent-color: $primary-color;
        width: 18px;
        height: 18px;
      }
    }

    .error-message {
      color: $error-color;
      font-size: 0.9rem;
      margin-top: -10px;
      margin-bottom: 10px;
    }

    .modal-actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;

      button {
        @include button-style($primary-color);
        font-size: 1rem;

        &.cancel {
          @include button-style($secondary-color);
        }

        &.danger {
          background-color: $error-color;
          color: #fff;

          &:hover {
            background-color: color.adjust($error-color, $lightness: -15%);
          }
        }
      }
    }

    button {
      @include button-style($primary-color);
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }

    .option-item {
      display: grid;
      grid-template-columns: 1fr 80px 40px 80px;
      gap: 10px;
      align-items: center;
      margin-bottom: 10px;

      input[type="text"] {
        flex: 1;
      }

      input[type="number"] {
        width: 100%;
      }

      input[type="radio"],
      input[type="checkbox"] {
        justify-self: center;
      }

      .cancel {
        @include button-style($error-color);
        padding: 5px 10px;
        font-size: 0.9rem;
      }
    }
  }
}
