@use "sass:color";
@use "./base/variables" as *;
@use "./base/mixins" as *;

$nav-bg: #222;
$nav-hover: #333;
$nav-active: #007bff;
$nav-button: #004794;

.nav {
  display: flex;
  gap: $list-gap;
  padding: 10px;
  background-color: $nav-bg;

  a {
    color: #bbb;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-family: $font-stack;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $nav-hover;
      color: #fff;
    }

    &.active {
      color: #fff;
      background-color: $nav-active;
    }
  }

  .button {
    @include button-style($nav-button); // Используем mixin с нужным синим цветом
    font-size: 1rem;
    border-radius: $border-radius;

    &:hover {
      background-color: color.adjust($nav-button, $lightness: -20%, $space: hsl);
    }
  }
}
