@use "sass:color";
@use "./base/variables" as *;
@use "./base/mixins" as *;

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;

  button {
    @include button-style($primary-color); // Используем базовый стиль
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: $border-radius $border-radius 0 0;
    transition: background-color 0.3s, color 0.3s, border-bottom 0.3s;

    &:hover {
      background-color: color.adjust($primary-color, $lightness: 35%);
      color: $primary-color;
    }

    &.active {
      background-color: #fff;
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
      font-weight: bold;
    }
  }

  button + button {
    margin-left: 5px;
  }
}
